/* personal style file */
/* 2017-May YCB */

body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 background-color: black;
 color: #ccbb00;
}

a {
 text-decoration: underline;
 color: #ccbb00;
}
